*{
    box-sizing: border-box;
}
.parent{
    width: 1000px;
    height: 400px;
    background-color: #ddd;
    margin: 100px auto;
    position: relative;
}
.basic{
    width: 90%;
    height: 80%;
    position: absolute;
    left: 5%;
    top: 10%;
    background-color: #fff;
}
.article{
    width: 80px;
        height: 30px;
        padding: 5px;
        background-color: #009688;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 5%;
        top: 15%;
}
.article::after{
    content: "";
        width: 11px;
        height: 30px;
        background-color: #009688;
        position: absolute;
        left: -13%;
        top: -22%;
    transform:skew(0deg, 50deg);
    -webkit-transform:skew(0deg, 50deg);
    -moz-transform:skew(0deg, 50deg);
    -ms-transform:skew(0deg, 50deg);
    -o-transform:skew(0deg, 50deg);
}
.info{
    width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        /* border: 1px solid #fff001; */
        position: absolute;
        left: 10%;
        top: 30%;
}
.info>div{
    width: 100%;
    height: calc(90% / 3);
    position: relative;
    background-color: #ddd;
    display: flex;
    align-items: center;
    padding-left: 100px;
    text-transform: capitalize;
}
.one .box,
.two .box,
.three .box{
    width: 35px;
        height: 35px;
        border: 1px solid #777;
        position: absolute;
        left: 5%;
        top: 20%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        border-radius: 4px;
}
.one .box::after{
    content: "";
    width: 70%;
    height: 70%;
    background-color: #009688;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: absolute;
    left: 15%;
    top: 15%;
}